*{
	background-color: #FEF2F4;
	margin:10px;
}
h1{
	color: #D14D72;
	font-family:"MS Gothic";
	padding: 20px;
}
h4{
	font-weight: normal;
	font-family:"Segoe Print";
}
h3{
	padding-left:10px;
	font-family: Century Gothic;
}
hr{
	margin:20px;
}